/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 /*Global*/
a {
    text-decoration: none;
    color:#000
}
body, html {
    width:100%;
    height:100%;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
h1{
    font-size:30px;
    margin-bottom:20px;
}
h3{
    font-size:15px;
    font-style:normal;
    color: white;
    margin:0.5em;
    text-shadow: 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
h3:active{
    text-shadow: 0 0px rgba(0, 0, 0, 0.4);
}

h2{
    font-size:17px;
    margin:0.5em;
}

select{
    position:relative;
    width:60%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    padding:9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHo+AACAQQAA+MoAAIC0AAB48QAA9RwAADw3AAAbzhlfIT4AAACJSURBVHjajNAxCsJAEEbhb5cU4i0sbHIaL6IQTxFPo4VeROwXQs4gKW1cWJZEM90wj5l5f0jDeMXBunqENIw7vLD9A09oIxL6FdsvSCENI2zwxH4BTmgxxeJc92P76cuIpRBuc6K45yZWwzPeleixBOLMr30tWgJZuqwcQJNFy2GzkHeHUMPwGQChFSPmzlJ1WgAAAABJRU5ErkJggg==) no-repeat scroll right center;
}

input{
    position:relative;
    -webkit-appearance: none;
    display: block;
    background-color: #FFF;
    color: #F1A122;
    border: none;
    padding:10px;
    margin:20px auto;
    width:60%;
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
}
    #odoFinish{
        margin:0 0 0 0;
        right:0px;
    }

.navbar{
    background-color:#01A2A6;
    color:white;
    position: fixed;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.26);
    text-align:left;
}
.centerButtonContainer{
    position: relative;
    margin: 0 0;
    text-align:center;
    width:100%;
}
.inlineButtonContainer{
    margin:5px 0 0 0;
    position: relative;
}

.menuContainer{
    position: relative;
    margin: 0 auto;
    width: 90%;
}

#loadingmask{
    z-index: 1001;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    background:#FFF url('../img/loading.gif') center no-repeat;
}

.inlineButtonContainer .button{

}
.popupCloseButton{
    position:relative;
    border-radius: 12px;
    border-right: white 1px;
    border-left: black 1px;
    cursor: pointer;
    right:0px;
    bottom:100%;
    color:white;
    margin: 17px 0 0 0;
    padding:3px;
    width:40px;
    height:40px;
    float:right !important;
    text-align: center; !important;
    margin-right: 30px !important;
}
.button {
    position: inherit;
    margin:0px 0px;
    padding: 0.4em 0.6em;
    font-size: 0.8emnscW3Q
    ROJ;NSCA;KWW
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    background-color: #D95525;
    display:inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px rgba(200,60,0,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.button:active {
    margin-top: 2px;
    box-shadow: 0px 3px 0px 0px rgba(200,60,0,1);
}
.button:hover{
    outline: 0 none;
    background-color: #D95525;
    text-decoration: none;
    color: #fff;
}


/*Bastion.css*/
.bigbutton {
    position: inherit;
    margin:0.2em 0px 0.2em 0px;
    padding: 0.4em 0;
    width:100%;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    background-color: #D95525;
    display:inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px rgba(200,60,0,1);
    font-size: 40px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.bigbutton:active {
    margin-top: 17px;
    box-shadow: 0px 3px 0px 0px rgba(200,60,0,1);
}
.bigbutton:hover{
    outline: 0 none;
    background-color: #D95525;
    text-decoration: none;
    color: #fff;
}

.menubutton{
    background-color:#D95525;
    float:left;
    width:30%;
    padding:5%;
    margin:5%;
    color:white;
    text-align: center;
}
#hourDisp{
    font-size:45px;
    height:10%;
    text-align: center;
    margin-top:10%;
    margin-bottom: 10%; 
}

#completedDisplay{
    z-index:10;
    left:10%;
    display: none;
    position:fixed;
    text-align: center;
    width:80%;
    height:50%;
    top:15%;
    margin:0 auto;
    background-color: #DEDBA7;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 25px;
}
#letter{
    z-index:9;
    left:10%;
    display: none;
    position: fixed;
    top: 15%;
    height:100px;
    width:140px;
    background-color:#EEE;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
}
    #flap{
        position:relative;
        margin: 0 auto;
        width:0;
        height:0;
        border-left:70px solid transparent;
        border-right:70px solid transparent;
        border-top:60px solid #DDD;
    }

.refresh_button{
    position: fixed;
    background-image: url('../img/refresh.png');
    float:right;
    top:0.5em;
    right:2em;
    z-index: 100;
    width:2em;
    height:2em;
    background-size: 100%;
}
.refresh_button:active{
    background-color: #FFF;
}

.backarrow{
    position:fixed;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 30px solid white; 
    float:left;
    top:1.4em;
    left:2em;
    z-index: 100;
}
.backarrow:active{
    background-color:white;
}
.logout{
    top:5%;
    left:1%;
    padding:10px;
    position:fixed;
    width:50px;
    height:10px;
    background-color: rgba(1,100,100,1);
    color:white;
    border-radius: 4px;
}
.logout:active{
    top:5.5%;
    left:1%;
    padding:10px;
    position:fixed;
    width:50px;
    height:10px;
    background-color: rgba(20,130,130,1);
    color:white;
    border-radius: 4px;
}


#popupdiv{
	position:fixed;
    margin: 0 auto;
	display:none;
    bottom:0;
    left:7%;
    height:150px;
    width:80%;
    background-color:#FFFFA6;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.26);
}
	#popup #h{
		font-size:15px;
		background-color:white;
		width:100%;
	}
    #popupButton{
        padding:5px;
        bottom: 0;
        right:6px;
        position:relative;
        background-color: #71B095;
    }
.popup{
    display: none;
    position:absolute;
    text-align: center;
    width:90%;
    height:50%;
    top:5%;
    margin:0 auto;
    background-color: #DEDBA7;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 25px;
}
.listObject{
    margin: 20px auto 0 0;
    padding: 10px;
    background-color: #E6E6E6;
    width:calc(98%);
    height:20%;
    border:10px;
    border-top: #E6E6E6;
    border-bottom: #A1A1A1;
}
    .new{
    width:1em;
    position: fixed;
    height:1em;
    right:7%;
    bottom: 7%; 
    z-index: 20;
    background-color:#D13F32;
    color:white;
    text-align: center;
    font-size: 3em;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    }
.content{
    height:100%;
    position:relative;
}

@media only screen and (min-device-height : 768px) { /* 7" tablets */
    h2{
        margin:0.7em;
        font-size: 1.8em;
    }
    h3{
        margin:0.7em;
        font-size: 1.5em;
    }
    .new{
    width:1em;
    height:1em;
    font-size: 6em;
    border-radius: 4em;
    }
    .bigbutton{
        padding:0.8em 0;
    }
    .button{
        padding: 0.8em 0;
    }
    .refresh_button{
        width:3em;
        height:3em;
    }
}